# =====================
# Node / JS
# =====================
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# =====================
# Environment & Secrets
# =====================
.env
.env.*
!.env.example

serviceAccountKey.json
*.secret.json
supabase.json
supabase/.env
supabase/.temp

# =====================
# Uploads & Data
# =====================
uploads/
*.csv
*.xlsx

# =====================
# Build & Coverage
# =====================
dist/
build/
coverage/

# =====================
# OS / Editor
# =====================
.DS_Store
Thumbs.db

.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/
